* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url(images/hero);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.navbar li>a{
    color: white;
    background-color: transparent;
    padding-left: 32px;
    font-size: 20px;
}
.navbar {
    border-bottom: 1px solid gray;
}
.hero-text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 32px;
}

.hero-heading {
    text-align: center;
}
.hero-text h1 {
    font-size: 42px;
    font-weight: 400;
    line-height: 49px;
    color: white;
}
.hero-pera p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.hero-btn span>button {
    margin-right: 18px;
    background-color: white;
    color: black;
    font-weight: 500;
}
.hero-btn span>label {
    color: white;
}
























[

]